---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Picture } from "astro-imagetools/components";
import JavaScriptersLogo from "../assets/images/JavaScripters.svg";
import Button from "../components/Button.svelte";
import ProjectGrid from "../components/ProjectGrid.astro";
import Card from "../components/Card.svelte";
import { Icon } from "astro-icon";
---

<BaseLayout>
  <div
    class="flex flex-col h-screen w-screen p-5 align-center items-center lg:flex-row lg:m-auto"
    id="hero"
  >
    <div class="rounded-full h-1/2 aspect-square overflow-hidden lg:ml-36">
      <Picture
        src="/src/assets/images/AsyncBanana.png"
        alt="Profile picture"
        placeholder="blurred"
        layout="fill"
      />
    </div>
    <div class="text-center lg:text-right lg:ml-1/4">
      <h1 class="font-bold font-display text-5xl">
        Hi, I am<br /><span
          class="bg-clip-text text-transparent gradient-primary">Jacob</span
        >
      </h1>
      <p class="text-xl">
        A developer, writer, community builder, and banana enthusiast
      </p>
      <Button
        link="/#development"
        class="mt-5 lg:w-1/2 lg:float-right"
        type="primary"
      >
        Learn More
      </Button>
    </div>
  </div>

  <div id="development" class="m-auto mt-12 text-center w-3/4 md:text-left">
    <h2 class="font-bold font-display text-4xl">
      I am a <span
        class="bg-clip-text text-transparent duration-500 gradient-blue"
        >Developer</span
      >
    </h2>
    <p class="text-xl mb-6">
      I love to develop fast, accessible, websites and applications
    </p>
    <ProjectGrid>
      <Card title="Microdiff" link="https://github.com/AsyncBanana/microdiff">
        The fastest object and array diffing algorithm for JavaScript that has
        over 3,000 stars and hundreds of thousands of downloads
      </Card>
      <Card
        title="Serenity Editor"
        link="https://github.com/AsyncBanana/Serenity-Editor"
      >
        An open source, web based, markdown/WYIWYG editor
      </Card>
      <Card title="GuildScript" link="https://top.gg/bot/733065297249959977">
        A multipurpose Discord bot that is used in JavaScripters, a 10,000+
        member Discord server
      </Card>
      <Card
        title="This portfolio"
        link="https://github.com/AsyncBanana/Personal-Website"
      >
        This portfolio was built using Astro, Svelte, and UnoCSS and is open
        source on GitHub
      </Card>
    </ProjectGrid>
  </div>
  <div id="writing" class="m-auto mt-12 w-3/4">
    <h2 class="font-bold font-display text-4xl">
      I am a <span class="bg-clip-text text-transparent gradient-red"
        >Writer</span
      >
    </h2>
    <p class="text-xl mb-6">
      I write a variety of in depth articles on programming and technology. If
      you own a publication and are looking for writers, feel free to send me a
      message.
    </p>
    <ProjectGrid>
      <Card title="ByteofDev" link="https://byteofdev.com/" type="writer">
        My blogging platform where I publish many of my pieces. It has articles
        with tens of thousands of visitors and an extensive mailing list
      </Card>
      <Card
        title="Envato Tuts+"
        link="https://tutsplus.com/authors/jacob-jackson"
        type="writer"
      >
        A collection of resources that I have contributed to extensively. I
        primarily update articles there, but I have also written some.
      </Card>
      <Card title="Medium" link="https://medium.com/@asyncbanana" type="writer">
        I used to write on Medium, although now I mostly use my own blog website
        for that purpose. However, it still contains some of my older articles.
      </Card>
    </ProjectGrid>
    <h3 class="font-bold font-display text-3xl">
      Some articles I have written
    </h3>
    <ul
      class="list-disc list-inside lg:text-2xl md:text-xl text-lg responsive:text"
    >
      <li>
        <a href="https://byteofdev.com/posts/deno/"
          >State of the Web: Deno [ByteofDev]</a
        >
      </li>
      <li>
        <a href="https://byteofdev.com/posts/bundlers/"
          >State of the Web: Bundlers & Build Tools [ByteofDev]</a
        >
      </li>
    </ul>
  </div>
  <div id="community" class="m-auto mt-12 w-3/4">
    <a class="font-bold font-display text-4xl">
      I am a <span class="bg-clip-text text-transparent gradient-green"
        >Community Builder</span
      >
    </a>
    <a
      href=""
      class="md:w-1/4 lg:w-1/8 sm:w-1/2 w-3/4 block m-auto rounded-3xl hover:ring-2 ring-offset-2 focus:ring-2 transition-100 focus:outline-none mb-6"
    >
      <img
        src={JavaScriptersLogo}
        alt="JavaScripters Logo"
        class="rounded-3xl"
      />
    </a>
    <h2 class="text-3xl text-center font-bold j">JavaScripters</h2>
    <p class="text-center text-lg">
      JavaScripters is 10k+ member Discord server all about JavaScript
    </p>
    <div class="m-auto w-3/4 mb-6">
      <h1 class="text-4xl font-bold font-display">Contact Me</h1>
      <div class="flex gap-3">
        <Button link="mailto:jej.jackson.08@gmail.com">
          <Icon name="mdi:email" class="inline" width={50} />Email
        </Button>
        <Button link="https://github.com/AsyncBanana">
          <Icon name="mdi:github" class="inline" width={50} />GitHub
        </Button>
        <Button link="https://twitter.com/AsyncBanana">
          <Icon name="mdi:twitter" class="inline" width={50} />Twitter
        </Button>
        <Button link="https://www.linkedin.com/in/jacob-jackson-7b7985255/">
          <Icon name="mdi:linkedin" class="inline" width={50} />Linkedin
        </Button>
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  import initEntranceListeners from "../assets/scripts/entranceAnimation.js";
  initEntranceListeners();
</script>

<style is:global>
  #hero {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M14.499 11.82L4.36 5.968l.002-11.706 10.14-5.855L24.638-5.74l-.001 11.707zm0 50.06L4.36 56.029l.002-11.706 10.14-5.855 10.137 5.852-.001 11.707zm14.498-25.117L18.858 30.91l.002-11.707L29 13.349l10.137 5.853-.001 11.706zm-29 0l-10.139-5.852.002-11.707L0 13.349l10.138 5.853-.002 11.706zm14.501-19.905L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-linecap='square' stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,0.05)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }
  li a {
    position: relative;
    @apply color-cyan-500;
  }
  li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    @apply gradient-red;
  }
  li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
</style>
