@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	scroll-behavior: smooth;
	background-color: #18191a;
	color: white;
	height: 100%;
}
body {
	min-height: 100vh;
	margin: 0;
	top: 0;
}
h1 {
	font-size: 3rem;
	font-weight: bolder;
}
h2 {
	font-size: 2rem;
	font-weight: bold;
}
p {
	font-size: 1.25rem;
}
#svelte {
	font-family: 'Inter', Verdana, sans-serif;
}
