---
let className = "";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
const { title, description } = Astro.props;
export {className as class}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <title>{title}</title>
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
